.mobile-vertical-menu>.mobile-main-menu>.menu-item.menu-item-has-children {
    padding: 20px 5px;
    border-bottom: 1px solid #d1d1d1;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

#menu-primary-menu .menu-item-has-children,
.mobile-vertical-menu .menu-item-has-children {
    padding: 20px 5px;
}

.mobile-menu-wrapper ul.mobile-main-menu li.menu-item-has-children>.menu-toggle {
    background: #03ba48;
    color: #ffffff;
    font-weight: 700;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -20px;
    margin-top: 5px;
    line-height: 0;
}



.mobile-menu-wrapper ul.mobile-main-menu li.menu-item-has-children ul li .menu-toggle {
    width: 28px;
    height: 28px;
    margin-top: 0;
    margin-right: -12px;
}

.mobile-menu-wrapper ul.mobile-main-menu ul li {
    padding: 12px 0;
}

@media only screen and (min-width: 992px) {
    .header-4 {
        visibility: visible;
        opacity: 1;
    }
}

